@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
  --primery-color: #339999;
  --primery-color-text: ;
  --result-sucess: #06d9b6;
  --result-fail: #c93e4f;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: var(--primery-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3rem;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
}

.formatText{
  font-weight: 700;
  font-size: 1.8rem;
  padding-left: 20px;
}